.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3rem auto;
  text-align: center;
}

.container img {
  width: 200px;
  margin-bottom: 10px;
}

.accent {
  color: var(--color-accent);
  font-size: var(--font-size: large);
  font-weight: bold;
  border-bottom: 2px solid var(--color-accent);
}
